.c-btn-group {
  flex: 1 1 1;
  &__img {
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(sp) {
      left: 5%;
    }
    &--sp {
      &:last-child {
        display: none;
        @include breakpoint(sp) {
          display: inline-block;
        }
      }
      &:first-child {
        @include breakpoint(sp) {
          display: none;
        }
      }
    }
  }
  &--flex {
    @include breakpoint(sp) {
      display: flex;
    }
  }
}

.c-button {
  background: $_color-button;
  font-weight: 600;
  padding: 8px 10px 10px 24px;
  color: $_color-bg;
  border-radius: 4px;
  font-size: 1.4rem;
  width: 140px;
  display: inline-block;
  text-align: center;
  position: relative;
  &:hover {
    opacity: 0.7;
  }
  &--spNav {
    @include breakpoint(sp) {
      display: flex;
      width: 100%;
      @include converter-sp(font-size,32);
      height: 87px;
      height: 11.6vw;
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }
  }
  &--green {
    @include breakpoint(sp) {
      background: #00b900;
    }
  }
  &--floating {
    &:first-child {
      margin-right: 10px;
    }
    @include breakpoint(sp) {
      display: flex;
      height: 88px;
      height: 11.735vw;
      align-items: center;
      justify-content: center;
      width: 190px;
      width: 25.333vw;
      @include converter-sp(padding,15,15,15,36);
      font-size: 2.6rem;
      font-size: 3.39vw;
      &:first-child {
        margin-right: 1.1vw;
      }
    }
    .c-btn-group__img {
      left: 15px;
      @include breakpoint(sp) {
        width: 12.5%;
        left: 6%;
      }
    }
  }
}

.c-button--footer {
  width: 100%;
  padding: 28px 0;
  font-size: 24px;
  font-weight: 600;
  @include breakpoint(sp) {
    font-size: 5.6vw;
    @include converter-sp(padding,36,45,36,80);
  }
  &:hover {
    background: $_color-button--hover;
    opacity: 1;
  }
  .c-btn-group__img {
    left: 15px;
  }
}
