.column {
    display: flex;
    width: 100%;
    &__item {
        flex: 1;
    }
    &--dynamic {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        .card {
            width: 46.45%;
            &:nth-of-type(odd) {
                margin-right: 85px;
                margin-top: -157px;
            }
            &:nth-of-type(even) {
                margin-top: 90px;
            }
            &:first-of-type {
                margin-top: 0;
            }
            &:nth-of-type(2) {
                margin-top: 225px;
            }
        }
    }
}