.l-footer-top {
  background-color: $_color-footer-bg;
  @include breakpoint(sp) {
    margin-bottom: 13vw;
  }
  &__title {
    font-size: 48px;
    color: $_color-ui-bg;
    text-align: center;
    font-weight: bold;
    padding-top: 45px;
    padding-bottom: 15px;
    @include breakpoint(sp) {
      font-size: 7.466vw;
      padding-top: 6vw;
      padding-bottom: 6.66vw;
    }
  }
  &__text-img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    @include breakpoint(sp) {
      width: 84vw;
      height: 15.466vw;
      display: block;
      margin: 0 auto 9.6vw;
    }
  }
  &__text-content {
    color: $_color-ui-bg;
    font-size: 1.6rem;
    padding-bottom: 20px;
    @include breakpoint(sp) {
      font-size: 3.766vw;
      line-height: 1.5;
      padding-bottom: 9.6vw;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 92px;
    max-width: 600px;
    margin: 0 auto;
    @include breakpoint(sp) {
      max-width: 80vw;
      padding-bottom: 0;
    }
  }
}

%footer-width {
  max-width: 800px;
  width: 100%;
  padding: 26px;
  @include breakpoint(sp) {
    max-width: 100%;
    padding: 5vw 13vw;
  }
}

.l-footer-bot {
  background-color: $_color-table-first-col;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 40px;
  @include breakpoint(sp) {
    display: block;
  }
  &__left {
    @extend %footer-width;
    position: relative;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   right: 0;
    //   top: 50%;
    //   height: 80%;
    //   border-right: 2px solid rgba($_color-ui-bg, 0.3);
    //   transform: translateY(-50%);
    //   @include breakpoint(sp) {
    //     border-bottom: 2px solid rgba($_color-ui-bg, 0.5);
    //     transform: translateX(-50%);
    //     top: auto;
    //     bottom: 0;
    //     height: 1px;
    //     left: 50%;
    //     width: 92%;
    //   }
    // }
  }
  &__right {
    @extend %footer-width;
  }
}

.l-footer-bot__title {
  font-size: 24px;
  padding-bottom: 26px;
  font-weight: 600;
  @include breakpoint(sp) {
    font-size: 4.266vw;
  }
}

.l-footer-bot__content {
  font-size: 1.6rem;
  line-height: 1.5;
  @include breakpoint(sp) {
    font-size: 3.766vw;
  }
}

.l-info {
  &__logowrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @include breakpoint(sp) {
      display: block;
      margin: 0 auto;
      width: 21.466vw;
      height: 11.2vw;
    }
  }
  &__body {
    text-align: center;
    padding: 18px 0 40px 0;
    @include breakpoint(sp) {
      padding: 0 0 4vw 0;
    }
  }
  &__h3 {
    color: $_color-contact-link;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    @include breakpoint(sp) {
      font-size: 4.266vw;
    }
  }
  &__contact {
    %footer-p-styling {
      font-size: 14px;
      font-family: 'Noto Sans Japanese', sans-serif;
      @include breakpoint(sp) {
        font-size: 3.766vw;
      }
    }
    &-p {
      @extend %footer-p-styling;
      margin-bottom: 12px;
      @include breakpoint(sp) {
        margin-bottom: 2.6vw;
      }
    }
    &-tel {
      @extend %footer-p-styling;
      margin-bottom: 22px;
      @include breakpoint(sp) {
        margin-bottom: 4.933vw;
      }
    }
  }
  &__business {
    font-size: 12px;
    font-family: 'Noto Sans Japanese', sans-serif;
    @include breakpoint(sp) {
      font-size: 3.766vw;
      margin-bottom: 5vw;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @include breakpoint(sp) {
      display: block;
    }
  }
  %lr-style {
    width: 550px;
    line-height: 1.5;
    @include breakpoint(sp) {
      width: 100%;
    }
  }
  &__left {
    @extend %lr-style;
    position: relative;
  }
  &__left::after {
    content: '';
    position: absolute;
    right: 0;
    height: 80%;
    border-right: 2px solid #0481b5;
    top: 0;
    z-index: 1;
    @include breakpoint(sp) {
      border: 0;
    }
  }
  &__right {
    @extend %lr-style;
  }
}

.l-copyright {
  background-color: $_color-footer-nav;
  display: block;
  padding: 30px;
  margin-bottom: 48px;
  @include breakpoint(sp) {
    margin-bottom: 13.333vw;
    padding: 7vw;
  }
  &__small {
    display: flex;
    justify-content: center;
    color: $_color-bg;
    font-size: 14px;
    @include breakpoint(sp) {
      font-size: 3vw;
    }
  }
}
