.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
  max-width: 1200px;
  margin: 0 auto;
  &__contact {
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    font-size: 1.8rem;
  }
}