.p-education {
  margin: 0 auto 145px;
  @include breakpoint(sp) {
    margin: 0;
    padding: 5.5% 0 20%;
  }
  &__desc {
    @include _c-section__desc;
    width: 720px;
    margin-bottom: 90px;
    @include breakpoint(sp) {
      width: 100%;
      padding: 0 4%;
      margin-bottom: 7.333%;
    }
  }
  &__content {
    max-width: 1560px;
    margin: 0 auto;
    @include breakpoint(sp) {
      padding: 0 4%;
    }
  }
  &__profile {
    max-width: percentage(771 / 1556);
    position: relative;
    @include breakpoint(sp) {
      max-width: 100%;
      &:first-child {
        margin-bottom: 10.667%;
      }
    }
    .p-education__info {
      background: #3e3e3e;
      padding: 30px 0;
      position: relative;
      text-align: justify;
      @include breakpoint(sp) {
        @include converter-sp(padding, 30);
        font-size: 2.8rem;
        font-size: 3.733vw;
      }
      &-p {
        color: #fff;
        max-width: 502px;
        margin: 0 auto;
        line-height: 1.5;
        @include breakpoint(sp) {
          max-width: 100%;
          line-height: $_line-height-sp;
        }
      }
      &-btn-msg {
        opacity: 0;
        width: 100%;
        position: absolute;
        @include converter-sp(padding, 30);
        top: -5%;
        left: 0;
        color: $_color-text;
        box-sizing: border-box;
        border: 2px solid $_color-education-btn;
        background: #fff;
        transition: all 0.6s ease;
        min-height: 100%;
        line-height: 1.6;
        &__title {
          margin-bottom: 1%;
          @include converter-sp(font-size, 32);
          font-weight: 600;
        }
      }
    }
  }
  &__comment {
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 380px;
    transition: all 0.3s;
    transition-delay: 0.2s;
    @include breakpoint(sp) {
      display: none;
    }
    &-catch {
      margin-left: 5px;
      font-size: 2rem;
      font-weight: bold;
    }
    &-p {
      font-size: 1.5rem;
      text-align: justify;
      line-height: 1.5;
    }
  }
  &__image {
    position: relative;
    @include bg-gradient;
    overflow: hidden;
    z-index: 0;
    &-btn {
      position: absolute;
      top: 6vw;
      left: 4%;
      color: #fff;
      background: $_color-education-btn;
      font-size: 3.733vw;
      border: 2px solid #fff;
      padding: 3.867% 5.667%;
      border-radius: 6vw;
      font-weight: bold;
      transition: color 0.6s ease, border 0.6s ease, background 0.6s ease;
    }
    .p-education__tag-p {
      @include _c-bordered-text(3rem);
      font-weight: bold;
      position: absolute;
      bottom: 12%;
      width: 100%;
      padding-left: 5%;
      @include breakpoint(sp) {
        @include _c-bordered-text(2.8rem);
        @include _c-bordered-text(3.733vw);
        padding-left: 4%;
      }
    }
    &-human {
      transition: all 0.4s;
    }
    &-comment {
      position: absolute;
      top: 40px;
      left: 80px;
      transform: rotate(-5deg);
      transition: opacity 0.4s;
      opacity: 0;
      @media (max-width: 1380px) {
        display: none;
      }
      @include breakpoint(sp) {
        display: none;
      }
    }
    &:hover {
      .p-education__image-human {
        transform: translateX(40px);
        @include breakpoint(sp) {
          transform: none;
        }
      }
      .p-education__comment,
      .p-education__image-comment {
        opacity: 1;
        @include breakpoint(sp) {
          opacity: 0;
        }
      }
      .p-education__image {
        position: relative;
        @include bg-gradient;
        z-index: 0;
        &-p {
          position: absolute;
          top: 20px;
          left: 0;
          width: 390px;
          padding-left: 20px;
          text-align: justify;
          line-height: 1.5;
          @include breakpoint(sp) {
            display: none;
          }
        }
      }
    }
    &-btn-msg {
      opacity: 0;
      width: 100%;
      position: absolute;
      padding: 4%;
      top: 0;
      left: 0;
      color: $_color-text;
      box-sizing: border-box;
      border: 2px solid $_color-education-btn;
      background: #fff;
      transition: all 0.6s ease;
      min-height: 100%;
      line-height: 1.6;
      transform: translateY(4vw);
    }
  }
}

// JS TOGGLE CLASSES
.js-btn-msg-active {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.js-btn-rev {
  background: #fff;
  border: 2px solid $_color-education-btn;
  color: $_color-education-btn;
  top: 12.7%;
  @include converter-sp(padding, 24.75);
}
