.p-features {
  max-width: 1020px;
  margin: 0 auto 290px;
  padding: 60px 0 0;
  @include breakpoint(sp) {
    max-width: 100%;
    padding: 11rem 1.9rem 17rem;
    padding: 10vw 4vw 24vw;
    margin: 0 auto;
  }
  &__card {
    margin-top: 50px;
    @include breakpoint(sp) {
      margin-top: 0;
      &:not(:last-child) {
        margin-bottom: 7.333vw;
      }
    }
  }
  &__first {
    margin-top: 115px;
    @include breakpoint(sp) {
      margin-top: 10vw;
    }
  }
  &__content {
    margin-top: 30px;
    max-width: percentage(450 / 1020);
    @include breakpoint(sp) {
      max-width: 100%;
      margin-top: 8%;
    }
    &-h3 {
      @include breakpoint(sp) {
        font-size: 2.55em;
        font-size: 4.267vw;
        margin-bottom: 7.333%;
      }
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
    }
    &-p {
      text-align: justify;
      line-height: 1.5;
      @include breakpoint(sp) {
        font-size: 2.3em;
        font-size: 3.733vw;
        line-height: $_line-height-sp;
        &:not(:last-child) {
          margin-bottom: 8% !important;
        }
      }
    }
    &-p:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__image {
    max-width: percentage(495 / 1020);
    @include breakpoint(sp) {
      max-width: 100%;
    }
  }
}
