.p-flow {
  position: relative;
  width: 100%;
  &__lists {
    position: relative;
    max-width: 1210px;
    width: 100%;
    margin: 100px auto 0;
    padding: 0 50px;
    @include breakpoint(sp) {
      max-width: 768px;
      margin: 17.333% auto 0;
    }
  }
  &__item {
    display: block;
    padding: 40px 0;
    border-top: 1px solid $_color-flow-border-bg;
    border-bottom: 1px solid $_color-flow-border-bg;
    margin-bottom: 120px;
    position: relative;
    @include breakpoint(sp) {
      margin: 0 3.333% 26.667% 3.333%;
      @include converter-sp(padding,70,0,48);
    }
    &::before {
      display: block;
      position: absolute;
      bottom: -80px;
      left: 50%;
      transform: translateX(-50%);
      background: url(../../../images/top/bottom-arrow.png);
      content: "";
      background-size: contain;
      background-repeat: no-repeat;
      width: 70px;
      height: 30px;
      @include breakpoint (sp) {
        background: url(../../../images/common/sp/bottom-arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 70px;
        height: 30px;
        height: 8vw;
        bottom: -62px;
        &:nth-of-type(3) {
          &::before {
            bottom: -4.333%;
          }
        }
      }
    }
    &:last-of-type {
      margin-bottom: 13.333%;
      &::before {
        display: none;
      }
    }
    &-step {
      display: inline-block;
      padding: 18px 20px;
      background: $_color-flow-step-bg;
      color: $_color-bg;
      font-size: 3rem;
      position: absolute;
      top: -40px;
      left: 30px;
      width: 100%;
      max-width: 147px;
      text-align: center;
      @include breakpoint(sp) {
        top: -16px;
        left: 50%;
        width: unset;
        min-width: 73px;
        transform: translateX(-50%);
        @include converter-sp(padding,15,20);
        @include converter-sp(font-size,32);
      }
    }
    &-content {
      display: flex;
      align-items: flex-start;
      padding: 0 30px 0 62px;
      + .p-flow__item-content {
        margin-top: 40px;
      }
      @include breakpoint(sp) {
        flex-direction: column;
        padding: 0 4.67%;
      }
      &-text {
        margin-top: 25px;
        font-size: 1.7rem;
        line-height: 3.5rem;
        position: relative;
        flex: 1;
        @include breakpoint(sp) {
          width: 100%;
          @include converter-sp(font-size,28);
          margin-top: 0;
        }
        &::before {
          content: '';
          height: 100%;
          width: 2px;
          background: $_color-flow-arrow;
          display: inline-block;
          position: absolute;
          left: -15px;
        }
      }
      &-wrap {
        &-img {
          width: 100%;
          height: 420px;
          object-fit: cover;
          object-position: center;
        }
      }
      &-pic {
        flex: 1;
        @include breakpoint(sp) {
          width: 100%;
        }
        &:first-of-type {
          margin: 0 65px 0 70px;
          @include breakpoint(sp) {
            width: 100%;
            margin: 0;
            margin: 8% 0 0 0;
          }
        }
        &:nth-of-type(2) {
          @include breakpoint(sp) {
            width: 100%;
            @include converter-sp(margin,36,0,0);
          }
        }
        &:last-of-type {
          @include breakpoint(sp) {
            margin-top: 4.667%;
          }
        }
        &.three {
          margin-right: 40px;
          @include breakpoint(sp) {
            margin-right: 0;
          }
          &:first-of-type {
            margin-left: 50px;
            @include breakpoint(sp) {
              margin-left: 0;
            }
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
        &-wrap {
          &-desc {
            margin-top: 20px;
            @include breakpoint(sp) {
              font-size: 2.8rem;
              font-size: 3.733vw;
              margin-top: 4.667%;
            }
          }
          &-img {
            @include breakpoint(sp) {
              height: 420px;
              height: 56vw;
              object-fit: cover;
              object-position: center;
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__wrap {
    &-img {
      width: 100%;
    }
  }
}
