.p-lesson {
  padding-bottom: 146px;
  @include breakpoint(sp) {
    padding-bottom: 5.333vw;
  }
  &__last {
    margin-left: 45%;
  }
  &__ttext {
    display: flex;
    justify-content: flex-end;
    max-width: 1110px;
    padding-top: 20px;
    text-align: right;
    margin: 0 auto;
    @include breakpoint(sp) {
      justify-content: flex-start;
      text-align: left;
      @include converter-sp(padding, 28);
      @include converter-sp(font-size, 28);
      line-height: 1.5;
    }
  }
  &__wrapper {
    padding-bottom: 100px;
  }
  &__content {
    @include _c-section__desc();
    width: 760px;
    @include breakpoint(sp) {
      width: 100%;
      padding: 0 3.766vw;
    }
  }
  table,td {
    border-collapse: separate;
    border-spacing: inherit;
    border: 1px dotted $_color-flow-step-bg;
  }
  &__ptable {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto 50px;
    table {
      empty-cells: show;
      text-align: center;
      border: 0;
      tbody {
        .p-lesson__trow td {
          border-left: 0;
        }
        .p-lesson__trow--first td {
          border-top: 0;
        }
        .p-lesson__trow--last td {
          border-bottom: 1px solid $_color-flow-step-bg;
          border-bottom-style: solid;
        }
        .p-lesson__trow td:last-child {
          border-right: 0;
        }
      }
    }
    .p-lesson__trow {
      font-size: 1.6rem;
    }
  }
  &__head {
    padding: 22px 0;
    text-align: center;
    width: 11.35%;
    color: $_color-flow-step-bg;
    border-bottom: 7px solid $_color-flow-step-bg;
    border-bottom-style: double;
    &--first {
      text-align: left;
      width: 20.54%;
      color: rgba(0, 0, 0, 1);
    }
  }
  &__data {
    padding: 22px;
    color: $_color-flow-step-bg;
    &--span {
      font-size: 14px;
      padding: 8px;
      text-align: center;
    }
    &--blue {
      padding: 8px 11px;
      background-color: $_color-flow-border-bg;
      color: #fff;
      margin-right: 15%;
    }
    &--right-align {
      display: flex;
      justify-content: flex-end;
      margin-right: 5%;
    }
    &--blue-bordered {
      width: 100%;
      border: 1px solid $_color-flow-border-bg;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      height: 370px;
      padding: 8px;
      &--small {
        height: 175px;
      }
    }
    &-bg {
      background-color: $span-bg;
      width: 100%;
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      border: 1px solid $span-border;
      color: #000;
    }
  }
  &__image-group {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    .p-lesson__ig {
      width: 27.5%;
    }
    .p-lesson__ig--center {
      width: 45%;
    }
    .p-lesson__side-img {
      height: 300px;
      object-fit: cover;
      width: 100%;
      display: block;
    }
  }
  %image-text-common {
    font-size: 24px;
    position: relative;
    padding-top: 30px;
    line-height: 1.5;
  }
  &__center-text {
    @extend %image-text-common;
    @include blue-border;
  }
  &__side-text {
    @extend %image-text-common;
    @include blue-border;
  }
  &__center-text-body {
    font-size: 1.6rem;
    margin: 0 5%;
    display: block;
  }
}

%image-sp-text-common {
  font-size: 4.666vw;
  position: relative;
  padding-top: 4vw;
  line-height: 1.5;
}

.p-sp-lesson__body {
  margin: 0 3.733vw;
}

.p-sp-lesson__blue-border {
  @extend %image-sp-text-common;
  @include blue-border;
  font-size: 4.266vw;
  text-align: center;
}

.p-sp-lesson__case-p {
  font-size: 3.733vw;
  text-align: left;
  line-height: 1.7;
  margin-bottom: 10.133vw;
}

.p-sp-lesson__case-h2 {
  margin-bottom: 5.333vw;
}

.p-sp-lesson__twoimg-wrapper {
  display: flex;
}

.p-sp-lesson__img-wrap {
  flex: 1;
}

.p-sp-lesson__twoimg {
  width: 100%;
}

.p-lesson__sp-table {
  padding-bottom: 2vw;
  border-bottom: 1px solid $_color-flow-border-bg;
}

.p-lesson__sp-table-title {
  @include breakpoint(sp) {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    @include converter-sp(margin,0,0,20,0);
  }
  &::after {
    position: absolute;
    bottom: -0.5vw;
    content: '';
    width: 100%;
    border-bottom: 0.266vw solid $_color-flow-border-bg;
    z-index: 1;
  }
}

.p-lesson__sp-table-text {
  @include breakpoint(sp) {
    @include converter-sp(font-size,28);
    flex-basis: 45%;
    @include converter-sp(padding,0,0,18,0);
    padding-left: 4vw;
  }
}

.p-lesson__sp-tabbuttons {
  @include breakpoint(sp) {
    @include converter-sp(font-size,28);
    flex-basis: 55%;
    ul {
      padding-left: 0;
      position: relative;
    }
    &-li {
      text-decoration: none;
      display: inline;
      background-color: #eee;
      padding: 3.9% 2.9vw;
      margin-left: -1px;
      position: relative;
      &--active {
        background-color: #fff;
        border: 0.266vw solid $_color-flow-border-bg;
        border-color: $_color-flow-border-bg $_color-flow-border-bg white $_color-flow-border-bg;
        position: relative;
        z-index: 2;
      }
    }
  }
}

.p-lesson__sp-table-timesheet {
  @include breakpoint(sp) {
    display: flex;
    &-l {
      flex-basis: 46.666vw;
      display: flex;
      flex-direction: column;
      text-align: right;
      &items {
        color: $_color-flow-border-bg;
        display: flex;
        justify-content: flex-end;
        border-bottom: 0.266vw dotted $_color-flow-border-bg;
        padding: 1.5vw 8vw;
        @include converter-sp(font-size,28);
        &-no {
          flex: 1;
          margin-left: -6vw;
          p {
            background-color: #0080ba;
            padding: 1vw;
            color: white;
          }
        }
        &-time {
          flex: 3;
          p {
            padding-top: 1vw;
          }
        }
      }
      &items:last-child {
        border: 0;
      }
    }
    &-r {
      margin-left: 2vw;
      &item {
        display: none;
        &--current {
          display: block;
        }
      }
    }
  }
}

.p-lesson__sp-table-ritem1 {
  text-align: center;
  %sp-item1-bg {
    width: 46.4vw;
    height: 6.4vw;
    background-color: $span-bg;
    border: 0.133vw solid $span-border;
    display: flex;
    justify-content: center;
    p {
      text-align: center;
      display: flex;
      align-items: center;
      @include converter-sp(font-size, 28);
    }
  }
  &--top {
    @extend %sp-item1-bg;
  }
  &--mid {
    width: 46.4vw;
    height: 54vw;
    margin-top: 3.3333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 0.266vw solid $_color-flow-border-bg;
    @include converter-sp(font-size, 28);
    flex-direction: column;
    &-mod {
      border: 0;
      %pt {
        width: 46.4vw;
        height: 50%;
        border: 0.266vw solid $_color-flow-border-bg;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-pt1 {
        @extend %pt;
      }
      &-pt2 {
        @extend %pt;
        margin-top: 2vw;
      }
    }
  }
  &--bot {
    &-first {
      @extend %sp-item1-bg;
      margin: 2.66vw 0;
      @include converter-sp(font-size, 28);
      text-align: center;
      display: flex;
      align-items: center;
      font-weight: bold;
    }
    &-second {
      text-align: center;
      @include converter-sp(font-size, 26);
      width: 46.4vw;
      margin-top: 3.6vw;
    }
  }
}
