.p-carousel {
  overflow: hidden;
  position: relative;
}

.p-slick {
  &__img {
    @include breakpoint(sp) {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      object-fit: cover;
    }
  }
  &__slide {
    @include breakpoint(sp) {
      height: 100%;
    }
    img {
      display: none;
    }
  }
  &__text {
    opacity: 0;
    position: absolute;
    background: url(../../images/top/hero-bg-blue.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: $_color-bg;
    bottom: 91px;
    height: 172px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    @include breakpoint(sp) {
      left: 50%;
      bottom: 13%;
      transform: translateX(-50%);
      width: 100vw;
      max-width: 768px;
      background-position: top right;
      justify-content: unset;
      height: 174px;
      height: 23.2vw;
      @include converter-sp(padding,0,30);
    }
  }
  &__paragraph {
    width: 100%;
    margin-top: -30px;
    font-family: Yu Gothic, sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    @include breakpoint(sp) {
      @include converter-sp(font-size,32);
      @include converter-sp(margin,5,0,0);
      line-height: 1.8;
    }
    br {
      @include breakpoint(sp) {
        display: none;
      }
    }
  }
}

.slick {
  &-slide {
    width: 1210px;
    opacity: 0.5;
    height: 700px;
    overflow-y: hidden;
    position: relative;
    @include breakpoint(sp) {
      width: 100vw;
      height: 70rem;
      height: 93.334vw;
    }
    & > div {
      @include breakpoint(sp) {
        height: 100%;
      }
    }
    img {
      &.u-disp--pc {
        display: block;
        @include breakpoint(sp) {
          display: none;
        }
      }
      &.u-disp--sp {
        display: none;
        @include breakpoint(sp) {
          display: block;
        }
      }
    }
  }
  &-center {
    opacity: 1;
  }
  &-dotted {
    &.slick-slider {
      margin-bottom: 0;
    }
  }
  &-active {
    .p-slick {
      &__text {
        opacity: 1;
      }
    }
  }
}

.p-slickArrow {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  list-style-type: none;
  width: 1200px;
  display: flex;
  align-items: center;
  @include breakpoint(sp) {
    width: 100vw;
  }
  &__prev,
  &__next {
    flex: 1;
  }
  &__prev {
    padding-left: 36px;
    @include breakpoint(sp) {
      @include converter-sp(padding,0,0,0,36);
    }
    img {
      @include breakpoint(sp) {
        width: 10.3%;
        width: 4.67vw;
      }
    }
  }
  &__next {
    text-align: right;
    padding-right: 36px;
    @include breakpoint(sp) {
      @include converter-sp(padding,0,36,0,0);
    }
    img {
      @include breakpoint(sp) {
        width: 10.3%;
        width: 4.67vw;
      }
    }
  }
}

.slick-dots {
  bottom: 31px;
  @include breakpoint(sp) {
    bottom: 5.6%;
  }
  li {
    margin: 0 30px 0 0;
    width: 10px;
    height: 10px;
    &:last-of-type {
      margin-right: 0;
    }
    button {
      border: 1px solid $_color-black;
      background: white;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      &::before {
        opacity: 0;
      }
    }
    &.slick-active {
      button {
        border: 1px solid $_color-bg;
        background: $_color-black;
      }
    }
  }
}

.p-about {
  background: $_color-main-bg;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 720px;
    max-width: 1210px;
    margin: 0 auto;
    padding-top: 45px;
    @include breakpoint(sp) {
      width: 100%;
      max-width: 768px;
      @include converter-sp(padding,70,33);
      @include converter-sp(font-size,28);
    }
  }
  &__text {
    line-height: 2.5rem;
  }
}
