%plan-size {
  position: relative;
  height: 520px;
}

%plan-card__wrapper {
  max-width: 1210px;
  margin: 0 auto;
  position: absolute;
  @include breakpoint(sp) {
    position: relative;
    max-width: 100%;
  }
}

.p-plan {
  position: relative;
  width: 100%;
  margin-bottom: 140px;
  @include breakpoint(sp) {
    margin-bottom: 40vw;
  }
  &__desc {
    @include _c-section__desc();
    width: 550px;
    @include breakpoint (sp) {
      display: none;
    }
  }
  &__items {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    @include breakpoint(sp) {
      overflow-x: unset;
      display: inline-block;
    }
    &--second {
      margin-top: 40px;
      @include breakpoint(sp) {
        margin-top: 33%;
      }
    }
  }
  &__left {
    @extend %plan-size;
    left: calc(50% - 883px);
    top: 0;
    background: url(../../images/top/fourthsection-img-alt-1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 1220px;
    @include breakpoint(sp) {
      background: url(../../images/top/fourthsection-img1.jpg);
      background-size: cover;
      margin-top: 0;
      height: 40vw;
      width: 100%;
      left: inherit;
      display: inline-block;
    }
    &--second {
      background: url(../../images/top/fourthsection-img-alt-3.png) center no-repeat;
      background-size: cover;
      @include breakpoint(sp) {
        background: url(../../images/top/fourthsection-img3.jpg);
        background-size: cover;
      }
    }
    &-wrapper {
      @extend %plan-card__wrapper;
      top: 50%;
      right: 490px;
      transform: translateY(-50%);
      @include breakpoint(sp) {
        left: initial;
        right: initial;
        padding: 22% 8% 0;
        height: inherit;
      }
    }
  }
  &__right {
    @extend %plan-size;
    background: url(../../images/top/fourthsection-img-alt-2.png);
    background-size: cover;
    background-position: center;
    left: calc(50% - 335px);
    width: 1255px;
    margin-top: -320px;
    @include breakpoint(sp) {
      background: url(../../images/top/fourthsection-img2.jpg);
      background-size: cover;
      height: 40vw;
      width: 100%;
      left: initial;
      margin: 12.26667% 0% 0%;
    }
    &-wrapper {
      @extend %plan-card__wrapper;
      top: 50%;
      left: 490px;
      transform: translateY(-50%);
      @include breakpoint(sp) {
        @include converter-sp(padding,0,60);
        transform: translateX(-50%);
        top: 50%;
        right: initial;
        left: 50%;
      }
    }
  }
  &__card {
    width: 450px;
    max-height: 500px;
    background: $_color-bg;
    padding: 45px 56px;
    -webkit-box-shadow: 3px 2px 27px 0 rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 3px 2px 27px 0 rgba(0, 0, 0, 0.31);
    box-shadow: 3px 2px 27px 0 rgba(0, 0, 0, 0.31);
    @include breakpoint(sp) {
      margin: 0 auto;
      // max-width: 84%;
      // max-width: 84vw;
      padding: 6% 7.467%;
      width: 100%;
      @include converter-sp(padding,42,35,42,32);
    }
    &--right {
      margin-left: auto;
    }
    &-title {
      margin-bottom: 26px;
      @include breakpoint(sp) {
        @include converter-sp(margin,0,0,43);
      }
    }
    &-desc {
      line-height: 2.6rem;
      margin-top: 40px;
      font-size: 1.4rem;
      @include breakpoint(sp) {
        @include converter-sp(font-size, 28);
        @include converter-sp(margin,50,0,0);
      }
    }
    &-courses {
      list-style-type: none;
      padding-left: 30px;
      height: 100%;
      min-height: 126px;
      max-height: 126px;
      position: relative;
      @include breakpoint(sp) {
        min-height: 23.067vw;
        max-height: 23.067vw;
      }
      &-text {
        margin-bottom: 18px;
        font-weight: 600;
        @include breakpoint(sp) {
          @include converter-sp(font-size, 28);
          @include converter-sp(margin,0,0,20);
        }
        &::before {
          content: '';
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid $_color-h2;
          display: inline-block;
          margin-right: 16px;
        }
      }
    }
  }
}
