.p-thoughts {
  margin-bottom: 140px;
  @include breakpoint(sp) {
    margin-bottom: 18.666vw;
  }
  &__h2 {
    text-align: center;
  }
  &__wrapper {
    margin: 110px auto 0 auto;
    @include breakpoint(sp) {
      margin: 12vw 3.733vw 0;
    }
  }
  &__p {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
    @include breakpoint(sp) {
      font-size: 3.733vw;
    }
  }
}
