%wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../images/pc/hero-bg.jpg') center no-repeat;
    background-size: cover;
    @include breakpoint(sp) {
        height: 43.677vw;
        @include converter-sp(padding,0,40);
    }
    &__title {
        font-size: 6rem;
        letter-spacing: 3.5px;
        font-family: 'Questrial', serif;
        color: #fff;
        @include breakpoint(sp) {
            @include converter-sp(font-size,35);
        }
    }
    &__desc {
        color: #fff;
        margin-top: 50px;
        font-size: 2.2rem;
        @include breakpoint(sp) {
            @include converter-sp(font-size,22);
            @include converter-sp(margin,50,0,0);
        }
    }
}

.technology {
    @extend %wrapper;
    padding-bottom: 50px;
    @include breakpoint(sp) {
        @include converter-sp(padding,40,40,50);
    }
    &__item {
        font-size: 1.8rem;
        color: #868686;
        margin-top: 35px;
        padding-left: 35px;
        position: relative;
        @include breakpoint(sp) {
            @include converter-sp(padding,0,0,0,35);
            @include converter-sp(font-size,18);
            @include converter-sp(margin,35,0,0);
        }
        &:first-of-type {
            margin-top: 0;
        }
        &::before {
            content: '';
            background: url('../images/common/right-arrow.png') center no-repeat;
            background-size: contain;
            width: 13px;
            height: 11px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            @include breakpoint(sp) {
                width: 1.694vw;
            }
        }
    }
}

.works {
    @extend %wrapper;
    padding: 40px 0 50px;
    @include breakpoint(sp) {
        @include converter-sp(padding,40,40,50);
    }
}

.tab {
    &-slider {
        &--nav {
            width: 100%;
            display: flex;
            margin-bottom: 80px;
            align-items: center;
            justify-content: space-between;
            @include breakpoint(sp) {
                display: block;
                @include converter-sp(margin,0,0,40);
            }
        }
        &--tabs {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            background: #fff;
            height: 35px;
            align-items: center;
            user-select: none; 
            @include breakpoint(sp) {
                justify-content: space-between;
            }
        }
        &--trigger {
            font-size: 1.6rem;
            color: #868686;
            text-align: center;
            padding: 10px 20px;
            position: relative;
            z-index: 2;
            cursor: pointer;
            display: inline-block;
            transition: color 250ms ease-in-out;
            user-select: none; 
            @include breakpoint(sp) {
                @include converter-sp(font-size,18);
            }
            &.active {
                color: #000;
                &::before {
                    border: 1px solid #000;
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                }
            }
        }
        &--body {
            margin-bottom: 20px;
            padding: 0 80px;
            @include breakpoint(sp) {
                padding: 0;
            }
        }
    }
}

.card {
    &__imgWrapper {
        height: 300px;
        overflow: hidden;
        position: relative;
        @include breakpoint(sp) {
            height: 19.557vw;
        }
        & > img {
            width: 100%;
            transition: 0.5s transform ease;
        }
        &--bg {
            background-color: #fff000;
        }
        &-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &-link {
            opacity: 0;
            text-align: center;
            transition: 0.5s opacity ease;
            @include breakpoint(sp) {
                opacity: 1;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                color: #fff;
                @include converter-sp(padding,5,0);
                @include converter-sp(font-size,16);
                background: #3535357d;
            }
            img {
                @include breakpoint(sp) {
                    width: 2.172vw;
                    vertical-align: middle;
                }
            }
        }
        &:hover {
            box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.14);
            & > img {
                transform: scale(1.05);
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .5;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                transition: 0.5s opacity ease;
                @include breakpoint(sp) {
                    display: none;
                }
            }
            .card__imgWrapper-logo {
                z-index: 2;
            }
            .card__imgWrapper-link {
                opacity: 1;
                position: absolute;
                bottom: 38px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                @include breakpoint(sp) {
                    transform: initial;
                    bottom: 0;
                    left: 0;
                }
                img {
                    display: block;
                    margin: 0 auto;
                    @include breakpoint(sp) {
                        display: inline-block;
                    }
                }
                span {
                    margin-top: 20px;
                    font-weight: 800;
                    display: inline-block;
                    font-size: 1.4rem;
                    color: #fff;
                    text-transform: uppercase;
                    @include breakpoint(sp) {
                        margin: 0;
                        font-weight: 400;
                        text-transform: none;
                        @include converter-sp(font-size,16);
                    }
                }
            }
        }
    }
    &__title {
        font-size: 3rem;
        font-family: 'Questrial', serif;
        margin-top: 45px;
        color: #000;
        @include breakpoint(sp) {
            @include converter-sp(font-size,30);
            @include converter-sp(margin,30,0,0);
        }
    }
    &__desc {
        margin-top: 30px;
        @include breakpoint(sp) {
            @include converter-sp(font-size,16);
            @include converter-sp(margin,20,0,0);
        }
    }
}

.contact {
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-image: linear-gradient(to bottom, #fad961, #f76b1c);
    background: #f76b1c; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f76b1c 0%, #f76b1c 34%, #fad961 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f76b1c 0%,#f76b1c 34%,#fad961 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f76b1c 0%,#f76b1c 34%,#fad961 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76b1c', endColorstr='#fad961',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    overflow: hidden;
    position: relative;
    color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    @include breakpoint(sp) {
        height: 41.7121vw;
        @include converter-sp(padding, 20,40);
    }
    &__title {
        font-family: 'Questrial', serif;
        font-size: 3.6rem;
        @include breakpoint(sp) {
           @include converter-sp(font-size,36);
        }
    }
    &__desc {
        font-size: 2.2rem;
        margin-top: 65px;
        @include breakpoint(sp) {
           @include converter-sp(font-size,22);
           @include converter-sp(margin,65,0,0);
        }
    }
}
